[Desktop Entry]
Name=SmartLocker
Comment=Paint Inventory & Mixing System
Exec=/usr/bin/python3 /home/jacopo22295/smartlocker-edge/main.py
Path=/home/jacopo22295/smartlocker-edge
Icon=/home/jacopo22295/smartlocker-edge/scripts/smartlocker-icon.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
